:root
{
	font-family:"seven_days_later";
}

@font-face
{
	font-family:"seven_days_later";
	src:url(../Font/7DaysLater.woff2) format("woff2");
	font-display:swap;
}

@font-face
{
	font-family:"morgan_chalk";
	src:url(../Font/MorganChalk.woff) format("woff");
	font-display:swap;
}

#GeneralBody
{
	position:absolute;
	width:100%;
	height:100%;
	padding:0;
	overflow:hidden;
	background-color:#595959;
}

#Header
{
	position:relative;
	width:100%;
	height:20%;
	top:-2000px;
}

#SubheaderLeft
{
	position:relative;
	width:40%;
	height:100%;
	float:left;
	text-align:left;
	color:#FFF;
}

#ShopName {
	padding-left:20px;
}

#SubheaderRight
{
	position:relative;
	width:50%;
	height:100%;
	float:right;
	text-align:center;
	color:#FFF;
}

#Balance
{
	padding-top:50px;
	padding-bottom:5px;
	display:inline;
}

#Total
{
	padding:30px;
	display:inline;
}

#PlayerName
{
	color:#FFF;
}

#SecuritySync {
	position:absolute;
	width:100%;
	height:20%;
    text-align:center;
	z-index:1;
	top:0px;
	color:#FFF;
}

#SecurityId
{
	text-align:center;
	color:#FFF;
}

#ConfirmEnter
{
	position:relative;
	top:5px;
	margin:20px;
	width:20px;
	height:20px;
}

#Body {
	position:relative;
	width:100%;
	height:78%;
	top:10%;
}

#ContentContainer {
	position:relative;
	top:-2000px;
	z-index:2;
}

#InfoContainer
{
	height:20%;
	width:12%;
	padding-left:20px;
	color:#FFF;
	font-size:16px;
	float:left;
}

#Items {
	height:auto;
	width:75%;
	padding-bottom:40px;
	float:left;
	overflow:hidden;
}

#ItemInfo {
	height:auto;
	padding-left:20px;
	text-decoration:underline;
	color:#FFF;
}

#FilterContainer {
    position:absolute;
	width:65%;
	height:auto;
	margin-top:18%;
	margin-left:10%;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:1%;
	text-align:center;
	text-decoration:underline;
	color:#FFF;
	z-index:3;
	top:-2000px;
	background-color:#595959;
	border:10px solid #FFF;
	border-radius:10px;
}

#Counter {
	height:auto;
	width:50px;
	padding:10px;
}

.Buttons
{
	color:#FFF;
	background-color:#AB1700;
	margin-top:10px;
	border:1px solid #FFF;
	border-radius:5px;
}

.Filters {
	background:none;
	border:none;
	color:#FFF;
	font-size:22px;
	text-decoration:underline;
}

.IconContainer {
	height:160px; 
    width:100px;
	top:30px;
	padding:10px;
	float:left;
}

.Icon
{
	margin:30px;
	height:80px; 
    width:80px;
}

.ItemHeader
{
	bottom:0px;
	height:20%; 
    width:97%;
	color:#FFF;
	font-size:16px;
}