<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.13.4" targetFramework="net45" />
  <package id="MaxMind.Db" version="2.4.0" targetFramework="net45" />
  <package id="MaxMind.GeoIP2" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.CSharp" version="4.4.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.111.0" targetFramework="net45" />
</packages>