<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.13.4" targetFramework="net45" />
  <package id="MaxMind.Db" version="2.4.0" targetFramework="net45" />
  <package id="SharpZipLib.NETStandard" version="1.0.7" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.111.0" targetFramework="net45" />
</packages>